<div class="container">
    <form [formGroup]="accountSettingsForm" (ngSubmit)="save()">
        <md-card>
            <md-card-title>Account Settings</md-card-title>
            <md-card-subtitle>User profile</md-card-subtitle>
            <md-card-content>
                <div flex>
                    <div grow>
                        <div>
                            <md-input placeholder="Name" [(ngModel)]="auth.auth.user.name" formControlName="name" name="name" required></md-input>
                        </div>
                        <div>
                            <md-input placeholder="Username" [(ngModel)]="auth.auth.user.username" formControlName="username" name="username" required></md-input>
                        </div>
                    </div>
                    <div margin>
                        <img [src]="auth.auth.picture" width="192">
                        <br>
                        <br>
                        <a md-button target="_blank" href="https://myaccount.google.com/">Change Avatar in Google Accounts</a>
                    </div>
                </div>
            </md-card-content>
        </md-card>
        <br>
        <div flex>
            <button md-raised-button color="primary" type="submit">Save</button>
            <span grow></span>
            <button md-button color="warn" type="button">Delete account</button>
        </div>
    </form>
</div>