<div *ngIf="auth.auth.loggedIn">
  <button md-button [md-menu-trigger-for]="userMenu">
    <span>{{ auth.auth.user.name }}</span>
  </button>
  <md-menu #userMenu="mdMenu">
    <button md-menu-item routerLink="/dashboard"> Dashboard </button>
    <button md-menu-item routerLink="/accounts/settings"> Settings </button>
    <button md-menu-item (click)="signOut()"> Logout </button>
  </md-menu>
</div>
<div *ngIf="!auth.auth.loggedIn">
  <button md-button (click)="signIn()">
    <span>Sign in with Google</span>
  </button>
</div>