:host {
    margin: 0;
    padding: 0;

    h3 {
        margin-top: 0;
    }

    form {
        width: 30vw;

        .actions {
            text-align: right;
            margin-top: 2em;
        }

        md-input {
            width: 100%;
        }
    }
}